*{
    font-family: "Anek Devanagari", sans-serif;
}
.form{
    margin-bottom: 5%;
}
.search-cont{
    display: flex;
    justify-content: center;

}

.par{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    padding-top: 5%;
}
#nombre{
    margin-left: 5%;
    width: 50%;
    margin-bottom: 5%;
}
.car-cont{
    display: flex;
    justify-content: center;
}
.nombre-cont{
    display: flex;
    justify-content: center;
}
.container{
    display: block;
    justify-content: center;
    background: -webkit-linear-gradient(90deg, #d7d4d2,#655e58);background: linear-gradient(90deg, #d7d4d2,#655e58);                                     
}

#carrera{
    margin-left: 5%;
    width: 50%;
    margin-bottom: 5%;
}

.estudiante{
    border-top:black solid 1px;
    padding-left: 40%;
    margin-bottom: 5%;
}

.ganador{
    border-top:black solid 1px;
    width: 100%;
    padding-left: 40%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}
.button-borders{

    margin-left: 600px;
}
/* From Uiverse.io by cssbuttons-io */ 
button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
  
  .no-result{
    margin-left: 500px;
    margin-top: 10%;
    padding-bottom: 20%;
  }

  .info{
    display: flex;
    justify-content: center;
  }

  .calificacion{
    margin-left: 5%;
  }
  #calificacionPsicotecnica{
    margin-left: 5%;
  }
  #calificacionLogica{
    margin-left: 5%;
  }
  @media (max-width: 800px){  
    .button-borders{

    margin-left: 100px;
}

.par{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  padding-top: 5%;
  font-size: 25px;
}
.calificacion{
  margin-top: 20%;
  margin-left: 2%;
}
.estudiante{
  padding-left: 30%;
}
.ganador{
  padding-left: 30%;
}
    
}

