
.form{
    margin-bottom: 5%;
}
.search-cont{
    display: flex;
    justify-content: center;

}

.par{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    padding-top: 5%;
}
#nombre{
    margin-left: 5%;
    width: 50%;
    margin-bottom: 5%;
}
.car-cont{
    display: flex;
    justify-content: center;
}
.nombre-cont{
    display: flex;
    justify-content: center;
}
.container{
    display: block;
    justify-content: center;
    background: -webkit-linear-gradient(90deg, #9ddf64,#bdda41);/* Chrome 10-25, Safari 5.1-6 */     
    background: linear-gradient(90deg, #9ddf64,#bdda41);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}

#carrera{
    margin-left: 5%;
    width: 50%;
    margin-bottom: 5%;
}
.buscar{
    width: 20%;

}

.estudiante{
    border-top:black solid 1px;
    padding-left: 40%;
    margin-bottom: 5%;
}

.ganador{
    border-top:black solid 1px;
    width: 100%;
    padding-left: 40%;
    margin-bottom: 5%;
    padding-bottom: 5%;
}